<template>
  <div>
    <label>
      <input type="checkbox" :checked="!anyRemaining" @change="allChecked">
      check all
    </label>
  </div>
</template>

<script>
// import { bus } from '../main'
export default {
  name: "todo-check-all",
  computed: {
    anyRemaining() {
      return this.$store.getters.anyRemaining;
    },
  },
  methods: {
    allChecked() {
      this.$store.dispatch('checkAll', event.target.checked)
      // this.$store.state.todos.forEach(
      //   (todo) => (todo.completed = event.target.checked)
      // );
    },
  },
};
</script>