<template>
  <div class="todo-item">
    <div class="todo-item-left">
      <input type="checkbox" v-model="completed" @change="doneEdit" />
      <div
        v-if="!editing"
        @dblclick="editTodo"
        class="todo-item-label"
        :class="{ completed: completed }"
      >
        {{ title }}
      </div>
      <input
        v-else
        class="todo-item-edit"
        type="text"
        v-model="title"
        @blur="doneEdit"
        @keyup.enter="doneEdit"
        @keyup.esc="cancelEdit"
        v-focus
      />
    </div>

    <div>
      <button @click="pluralize">Plural</button>
      <span class="remove-item" @click="removeTodo(id)">&times;</span>
    </div>
  </div>
</template>

<script>
import { bus } from "../main";

export default {
  name: "todo-item",
  props: {
    todo: {
      type: Object,
      required: true,
    },
    index: {
      type: Number,
      required: true,
    },
    checkAll: {
      type: Boolean,
      required: true,
    },
  },
  data() {
    return {
      id: this.todo.id,
      title: this.todo.title,
      completed: this.todo.completed,
      editing: this.todo.editing,
      beforeEditCache: "",
    };
  },

  created() {
    bus.$on("pluralize", this.handlePluralize);
  },

  beforeDestroy() {
    bus.$off("pluralize", this.handlePluralize);
  },

  directives: {
    focus: {
      inserted: function (el) {
        el.focus();
      },
    },
  },

  watch: {
    checkAll() {
      console.log('check----')
      if (this.checkAll) {
        this.completed = true;
      } else {
        this.completed = this.todo.completed;
      }
      //   this.completed = this.checkAll ? true : this.todo.com
    },
  },

  methods: {
    removeTodo(id) {
      this.$store.dispatch('deleteTodo', id)
      // const index = this.$store.state.todos.findIndex(item => item.id == id);
      // this.$store.state.todos.splice(index, 1);
    },

    editTodo() {
      this.beforeEditCache = this.title;
      this.editing = true;
    },

    cancelEdit() {
      this.title = this.beforeEditCache;
      this.editing = false;
    },

    doneEdit() {
      if (!this.title) {
        this.title = this.beforeEditCache;
      }
      this.editing = false;
      this.$store.dispatch('updateTodo', {
        id: this.id,
        title: this.title,
        completed: this.completed,
        editing: this.editing,
      })

      // const index = this.$store.state.todos.findIndex(item => item.id == this.id);
      // this.$store.state.todos.splice(index, 1, {
      //   id: this.id,
      //   title: this.title,
      //   completed: this.completed,
      //   editing: this.editing,
      // });
      // bus.$emit("finishedEdit", {
      //   index: this.index,
      //   todo: {
      //     id: this.id,
      //     title: this.title,
      //     completed: this.completed,
      //     editing: this.editing,
      //   },
      // });
    },

    pluralize() {
      bus.$emit("pluralize");
    },

    handlePluralize() {
      this.title = this.title + "s";
      const index = this.$store.state.todos.findIndex(item => item.id == this.id);
      this.$store.state.todos.splice(index, 1, {
        id: this.id,
        title: this.title,
        completed: this.completed,
        editing: this.editing,
      });
      // bus.$emit("finishedEdit", {
      //   index: this.index,
      //   todo: {
      //     id: this.id,
      //     title: this.title,
      //     completed: this.completed,
      //     editing: this.editing,
      //   },
      // });
    },
  },
};
</script>

<style scoped>
</style>