<template>
  <div>
    <button 
        :class="{ active: filter == 'all' }" 
        @click="changeFilter('all')"
        >
      All
    </button>
    <button
      :class="{ active: filter == 'active' }"
      @click="changeFilter('active')"
    >
      Active
    </button>
    <button
      :class="{ active: filter == 'completed' }"
      @click="changeFilter('completed')"
    >
      Completed
    </button>
  </div>
</template>

<script>
// import {bus} from '../main'
export default {
  name: "todo-filtered",
  computed: {
    filter() {
      return this.$store.state.filter
    }
  },
  // data() {
  //   return {
  //     filter: "all",
  //   };
  // },
  methods: {
    changeFilter(filter) {
      this.$store.dispatch('updateFilter', filter)
      // this.$store.state.filter = filter
      // bus.$emit('filterChanged', this.filter)
    },
  },
};
</script>