<template>

    <button v-if="showClearCompletedButton"
              @click="clearCompleted">
              Clear Completed
    </button>

    
</template>

<script>
// import {bus} from '../main'
export default {
    name: 'todo-clear-completed',
    computed: {
        showClearCompletedButton() {
            return this.$store.getters.showClearCompletedButton
        }
    },
    methods: {
        clearCompleted() {
            this.$store.dispatch('clearCompleted')
            // this.$store.state.todos = 
            //     this.$store.state.todos.filter((todo) => !todo.completed);
            // bus.$emit('clearCompletedTodos')
        }
    }
}
</script>